altair
altair-data-server
altair-viewer
attrs
black
click
entrypoints
Jinja2
jsonschema
MarkupSafe
mypy-extensions
numpy
pandas
pathspec
platformdirs
portpicker
psutil
pyrsistent
python-dateutil
pytz
six
tomli
toolz
tornado
vega-datasets
nx_altair
networkx
